*{
    margin: 0;
    padding: 0;
}

@import './secciones/index';
@import './secciones/contacto';
@import './secciones/matriceria';
@import './secciones/servicios';
@import './secciones/sistemas';
@import './secciones/header';
@import './secciones/footer';
@import './secciones/main'
